<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <title>Store Template</title>
</head>


<body>
    <div class="gridContainer">
        <header class="row">
            <div><a class="brand" href="index.html">Da-Nile</a></div>
            <div><a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- img size: 680px by 830px -->
                        <img class="medium" src="./images/product-1.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2> Navy Blue Suit</h2>
                        </a>
                    </div>
                    <div class="rating">
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                    </div>
                    <div class="price">
                        $335
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- img size: 680px by 830px -->
                        <img class="medium" src="./images/product-2.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2> Grey Suit</h2>
                        </a>
                    </div>

                    <div class="rating">
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                    </div>
                    <div class="price">
                        $225
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- img size: 680px by 830px -->
                        <img class="medium" src="./images/product-3.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2> White Button-up</h2>
                        </a>
                    </div>

                    <div class="rating">
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                    </div>
                    <div class="price">
                        $60
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- img size: 680px by 830px -->
                        <img class="medium" src="./images/product-4.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2> Green Suit</h2>
                        </a>
                    </div>

                    <div class="rating">
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                    </div>
                    <div class="price">
                        $299
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- img size: 680px by 830px -->
                        <img class="medium" src="./images/product-5.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2> Salmon Suit</h2>
                        </a>
                    </div>

                    <div class="rating">
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                        <span> <i class="fas fa-star"></i></span>
                    </div>
                    <div class="price">
                        $399
                    </div>
                </div>

            </div>
        </main>
        <footer class="row center">
            all rights reserved
        </footer>
    </div>

</body>

</html>